{
    "name": "@{{personalGithubUsername}}/{{libraryName}}",
    "version": "0.0.0",
    "type": "module",
    "files": [
        "distribution"
    ],
    "exports": {
        ".": {
            "types": "./distribution/{{libraryName}}.d.mts",
            "import": "./distribution/{{libraryName}}.mjs"
        }
    },
    "scripts": {
        "build": "vp pack",
        "check": "vp check",
        "fix": "vp check --fix",
        "test": "vp test"
    },
    "dependencies": {
        "@types/node": "^22.20.2",
        "typescript": "^7.0.2",
        "vite": "npm:@voidzero-dev/vite-plus-core@0.3.1",
        "vite-plus": "^0.2.4"
    },
    "overrides": {
        "vite": "npm:@voidzero-dev/vite-plus-core@0.3.1"
    },
    "devEngines": {
        "runtime": {
            "name": "node",
            "version": "24.21.0",
            "onFail": "download"
        },
        "packageManager": {
            "name": "pnpm",
            "version": "12.6.0",
            "onFail": "download"
        }
    },
    "description": "TODO",
    "homepage": "https://github.com/{{personalGithubUsername}}/{{libraryName}}#readme",
    "bugs": {
        "url": "https://github.com/{{personalGithubUsername}}/{{libraryName}}/issues"
    },
    "license": "MIT",
    "author": "{{personalName}} <{{personalEmail}}>",
    "repository": {
        "type": "git",
        "url": "git+https://github.com/{{personalGithubUsername}}/{{libraryName}}.git"
    },
    "publishConfig": {
        "access": "public"
    }
}
